<template>
    <div class="slds-align_absolute-center" style="height:5rem"> <h1  class="slds-text-heading_large">Pet Store</h1>
    </div>
    <template if:false={status}>
        <div class="slds-grid slds-grid_vertical" style="height:200px">
            <div class="slds-col slds-size_2-of-4">
                <lightning-input label="Username" name='username' onchange={handleChange} value={username}></lightning-input>
            </div>
            <div class="slds-col slds-size_2-of-4">
                <lightning-input label="Password" name='password' onchange={handleChange} value={password}></lightning-input>
            </div>
            <div class="slds-col">
            <lightning-button label="Submit" onclick={handleLogin}></lightning-button>
            </div>
            </div>
    </template>

        <template if:true={status}><div>{message}
            <br/>
            <br/>
            <lightning-button label="Logout" onclick={handleLogout}></lightning-button>
        </div></template>
</template>